sudo: true
language: go
go:
- 1.9.2
cache:
  directories:
  - vendor
services:
- docker
before_install:
- docker pull spotify/kafka
- docker run -d -p 2181:2181 -p 9092:9092 --env ADVERTISED_HOST=localhost --env ADVERTISED_PORT=9092 spotify/kafka
install:
- make dep
script:
- make test clean
notifications:
  email: false
  slack:
    secure: knPR80mmk+Cz3mSjuxULS06dk2JGT6Hcg35q+sv50W0MutF5rE+CvSXBPNZKN2pSzbxvn5cqp41MNLelilbfENwYHd851ciBBqhKDMlHsnVl04/Poqe9q4seDD59KsvHLkyZlQdn59Wu6nklL5kWwthax8mm4hM5JAQHzLOpvR9pb1pSPQyAwO1iDIY3dj+HT0rvv3m5N8H1tWhADNQIOiWsKQLkcrCJBQSF1ZD71Es3JhT8wrVNkPOYXucTSTksyqKEc2DnBmcjGlPSEXfAi4jySvewF6r3NeWhRNdiM6NMVSqS3HA2enFBVgq1mxxK3TnIjroFJMMX3dDxcYbdtbrnnthb799uVVYLZ+yp1axI9qCpooZ/V6HaynIZpmDcu8IvGuWf8nyYWLw4XPcL90+dtjaALiK339yr+GYJfVmPl2YVCn75qkIpF8HDOiQIXMP7y+bfJTs0gGOD+mXX8WXrYE7tTpB4oB0zRqJcYFdaM4kaGhKEwc6mTsFVieXaLnZWaX28rT2Iic4STK8fA5Ya/nvjPKcGyNTuV5iw6sFyVYZyDcYVEOCuwfZogjGZXfo2V4+Hd95venOugIDzJfZuTwWFrRHO1NUAjTtG0fL+SlBi7j+Vg+AfgQg/uEnzsOT2+sddTIJGx7whK1f89lZA4+/w44e+ciM/ZykKhrM=
